<!doctype html>
<head>
	<title>Emoji Classifier</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/upload.css') }}">
	<!-- <meta charset="UTF-8"> -->
</head>
<body>
	<h1> Emoji Classifier</h1>
	<h2>Select a file to upload (Will be changed to webcam soon)</h2>
	<p>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
	</p>
	{% if filename %}
		<div>
			<img src="{{ url_for('display_image', filename=filename) }}">
			<p>{{ value }}</p>
		</div>
	{% endif %}
	<form method="post" action="/" enctype="multipart/form-data">
		<dl>
			<p>
				<input type="file" name="file" autocomplete="off" id="actual-btn" hidden>
				<label for="actual-btn">Choose File</label>
				<!-- <label for="file-upload" class="custom-file-upload">
					Custom Upload
				</label>
				<input id="file-upload" type="file"/> -->
			</p>
		</dl>
		<p>
			<input class="inputLink" type="submit" value="Submit">
		</p>
	</form>
</body>
