<!doctype html>
<head>
	<title>Emoji Classifier</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/upload.css') }}">
</head>
<body>
	<h1> Emoji Classifier</h1><br/>
	<p>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% else %}
			Select an image to upload
		{% endif %}
		{% endwith %}
    </p>
    <br/>
	{% if filename %}
		<div id="emoji" style="text-align: center">
            <p>You look like this emoji</p>
			<p id="emoji">{{ emoji }}</p>
            <p><i>with {{ accuracy }} % confidence.</i></p>
		</div>
        <br/>
	{% endif %}
	<form method="post" action="/" enctype="multipart/form-data">
        <span id="choose-img-btn-wrapper" class="btn-wrapper">
            <input type="file" name="file" autocomplete="off" id="choose-img-btn" onchange="previewImage(event)" hidden>
            <label for="choose-img-btn">Choose File</label>
        </span>
        <br/><br/>
    
        <div>
            <img id="preview-image"/>
        </div>

        <br/>

        <span id="submit-btn-wrapper" class="btn-wrapper">
            <input class="inputLink" type="submit" id="submit-btn" hidden/>
            <label for="submit-btn">Submit</label>
        </span>

        <script>

            var previewImage = function(event) {
                var preview = document.getElementById('preview-image');
                preview.src = URL.createObjectURL(event.target.files[0]);
                preview.style.display = "block";
                preview.style.marginLeft = "auto";
                preview.style.marginRight = "auto";

                var submitBtn = document.getElementById('submit-btn-wrapper');
                submitBtn.style.display = "block";
                submitBtn.style.paddingTop = "3px";
                submitBtn.style.paddingBottom = "3px";
                submitBtn.style.paddingLeft = "20px";
                submitBtn.style.paddingRight = "20px";
                submitBtn.style.marginLeft = "auto";
                submitBtn.style.marginRight = "auto";
                submitBtn.style.width = "140px";
            };

        </script>

        
        
	</form>
</body>
