<!doctype html>
<head>
	<title>Emoji Classifier</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/upload.css') }}">
</head>
<body>
	<h1> Emoji Classifier</h1>
	<h2>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% else %}
			Select an image to upload
		{% endif %}
		{% endwith %}
	</h2>
	{% if filename %}
		<div>
			<p id="emoji">{{ value }}</p>
		</div>
	{% endif %}
	<form method="post" action="/" enctype="multipart/form-data">
		<dl>
			<p>
				<input type="file" name="file" autocomplete="off" id="actual-btn" onchange="previewImage(event)" hidden>
				<label for="actual-btn">Choose File</label>
			</p>
		</dl>
		<p>
			<form>
				<input class="inputLink" type="submit"></input>
			</form>
			<div>
				<img style="height:100px;width:100px;display:none" id="preview-image"/>
			</div>
			<br>
			<script>
				var previewImage = function(event) {
					var preview = document.getElementById('preview-image');
					preview.src = URL.createObjectURL(event.target.files[0]);
					preview.style.display = "block";
				};
			</script>
			
		</p>
	</form>
</body>
