@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F2B611;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 100px;
    margin: 0;
    padding: 0;
}

input[type=submit] {
    padding:5px 15px; 
    background:#F26611; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: white;
    width: 130px;
    height: 30px;
}
.btn:focus {
    outline: none;
  }

label {
    background-color: #F28C11;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    padding-top: 10px;
    width: 130px;
    height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

#emoji {
    font-size: 100px;
    margin: 0;
}